---
import star from "../assets/img/Star.svg";
import starFill from "../assets/img/Star_fill.svg";
interface Props {
  name: string;
  image: any;
  rating: number;
  price: string;
  popular: boolean;
  available: boolean;
  votes: number;
}

const { image, name, popular, rating, price, available, votes } = Astro.props;
---

<li class="relative">
  <img
    src={image}
    alt="name"
    class="w-full rounded-3xl"
  />

  {
    popular && (
      <span class="bg-popular absolute top-3 left-4 rounded-2xl py-1 px-2 text-background text-[0.625rem]">
        Popular
      </span>
    )
  }
  <div class="my-5 flex justify-between">
    <h2 class="text-lg font-bold">{name}</h2>
    <span class="text-background bg-price px-1 rounded-md font-bold"
      >{price}</span
    >
  </div>

  {
    rating ? (
      <div class="flex justify-between">
        <div class="flex gap-2">
          <p class="flex gap-1 items-center">
            <img
              src={starFill.src}
              alt="starFill"
            />
            <span>{rating}</span>
          </p>
          <span class="text-active">({votes} votes)</span>{" "}
        </div>
        {!available && <span class="text-red-400 font-bold">Sold out</span>}
      </div>
    ) : (
      <p class="text-active flex gap-2 items-center">
        <img
          src={star.src}
          alt="star"
        />
        <span class="block font-bold">No ratings</span>
      </p>
    )
  }
</li>
